.login-container{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 40px;
	padding: 40px;
	border: 1px solid gray;
	border-radius: 4px;
}

.login-container > div{
	width: 80%;
}

.login-form{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

